<div class="home__container">
    <app-card
        gameCover="assets/spider4.png"
        gameType="DIGITAL PS4"
        gameLabel="EXCLUSIVE"
        gamePrice="R$ 399.99"
    ></app-card>
    <app-card 
        gameCover="assets/fut.png"
        gameType="DIGITAL PC"
        gameLabel="DIGITAL"
        gamePrice="R$ 500.00"
    >
    </app-card>
    <app-card 
        gameCover="assets/hori.png"
        gameType="DIGITAL PS3"
        gameLabel="DIGITAL"
        gamePrice="R$ 39.90"
    >
    </app-card>
    <app-card 
        gameCover="assets/as3.png"
        gameType="DIGITAL PS3"
        gameLabel="DIGITAL"
        gamePrice="R$ 39.90"
    >
    </app-card>
    <app-card
        gameCover="assets/gta.png"
        gameType="DIGITAL PS4"
        gameLabel="EXCLUSIVE"
        gamePrice="R$ 399.99"
    ></app-card>
    <app-card 
        gameCover="assets/cyber2.png"
        gameType="DIGITAL PC"
        gameLabel="DIGITAL"
        gamePrice="R$ 500.00"
    >
    </app-card>
    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameType="DIGITAL PS3"
        gameLabel="DIGITAL"
        gamePrice="R$ 39.90"
    >
    </app-card>
    <app-card 
        gameCover="assets/nsei.png"
        gameType="DIGITAL PS3"
        gameLabel="DIGITAL"
        gamePrice="R$ 39.90"
    >
    </app-card>
    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameType="DIGITAL PS3"
        gameLabel="DIGITAL"
        gamePrice="R$ 39.90"
>
    </app-card>
    <app-card 
        gameCover="assets/bt-5.jpg"
        gameType="DIGITAL PS3"
        gameLabel="DIGITAL"
        gamePrice="R$ 39.90"
    >
    </app-card>
</div>

